@use "../color";
@use "../typography";
@use "../breakpoint";

nav {
    display: none;
    background-color: color.$secondary-900;
    height: 100%;
    width: 14rem;
    padding: 2rem 0.5rem 4rem;
    color: color.$text-primary;
    flex-direction: column;
    gap: 1rem;

    a {
        display: flex;
        gap: 0.5rem ;
        padding: 0.5rem;
        border-radius: 0.5rem;

        &:hover {
            background-color: color.$accent-700;
        }
    }

    @include breakpoint.sm {
        display: flex;
    }

    @include breakpoint.md {
        width: 18rem;
    }

    @include breakpoint.lg {
        width: 22rem;
    }
}