@use "../color";
@use "../typography";

.start {
  .tasks {
    flex-grow: 1;
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }

  main {
    display: flex;
    flex-direction: column;

    .tasks {
      display: flex;
      flex-grow: 1;
      overflow-y: scroll;
      padding-right: 0.5rem;

      &::-webkit-scrollbar {
        width: 0.75rem;
      }

      &::-webkit-scrollbar-track {
        background: color.$primary-500;
        border-radius: 0.5rem;
      }

      &::-webkit-scrollbar-thumb {
        background: color.$secondary-900;
        border-radius: 0.5rem;
      }

      .task {
        cursor: pointer;

        &.unchecked .content button {
          background-image: url("/assets/icons/checked/checked_false.svg");
          width: 1.5rem;
          height: 1.5rem;

          &:hover {
            background-image: url("/assets/icons/checked/checked_hover.svg");
          }
        }

        &.checked .content button {
          background-image: url("/assets/icons/checked/checked_true.svg");
          width: 1.5rem;
          height: 1.5rem;
        }

        summary {
          display: flex;
          justify-content: space-between;

          &::-webkit-details-marker {
            display: none;
          }

          .content {
            display: flex;
            gap: 1rem;

            .task-head {
              h2 {
                @include typography.heading-sm;
                color: color.$text-primary;
              }

              h2.title-checked {
                text-decoration: line-through;
                color: color.$text-secondary;
              }

              .date-time {
                @include typography.small;
                gap: 0 0.5rem;
                display: flex;
                color: color.$text-secondary;
                flex-wrap: wrap;

                p.today {
                  color: color.$white;
                }

                p.yesterday {
                  color: color.$chimp-red;
                }

                p.tomorrow {
                  color: color.$chimp-blue;
                }
              }
            }
          }
        }

        .description {
          @include typography.small;
        }

        &.checked .description {
          @include typography.small;
          color: color.$text-secondary;
          text-decoration: line-through;
        }
      }
    }
  }
}
