@use "../color";
@use "../typography";

.start {
  .tasks {
    flex-grow: 1;
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }

  .task {
    cursor: pointer;

    summary {
      display: flex;
      justify-content: space-between;

      &::-webkit-details-marker {
        display: none;
      }

      .content {
        display: flex;
        gap: 1rem;

        .unchecked button {
          background-image: url("/assets/icons/checked/checked_false.svg");
          width: 1.5rem;
          height: 1.5rem;

          &:hover {
            background-image: url("/assets/icons/checked/checked_hover.svg");
          }
        }

        .checked button {
          background-image: url("/assets/icons/checked/checked_true.svg");
          width: 1.5rem;
          height: 1.5rem;
        }

        .task-head {
          h2 {
            @include typography.heading-sm;
            color: color.$text-primary;
          }

          .title-checked {
            text-decoration: line-through;
            color: color.$text-secondary;
          }

          .date-time {
            @include typography.small;
            color: color.$text-secondary;
            display: flex;
            gap: 0.5rem;
          }
        }
      }

      .description {
        @include typography.small;
        color: color.$text-primary;
        padding-top: 1rem;
      }
    }
  }
}
