//Text
$text-primary: #d9d9d9;
$text-secondary: #949b9a;

//Page
$primary-400: #5d6067;
$primary-500: #42444a;
$primary-600: #313338;
$primary-650: #2e3035;
$secondary-900: #1e1f22;
$accent-700: #2b2d31;
$white: #d9d9d9;
