@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

$font-primary: "Outfit", sans-serif;

//text fonts
@mixin large {
    font-family: $font-primary;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
}

@mixin body {
    font-family: $font-primary;
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 400;
}

@mixin small {
    font-family: $font-primary;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
}

@mixin tiny {
    font-family: $font-primary;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 400;
}

//heading fonts

@mixin heading-lg {
    font-family: $font-primary;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 500;
}

@mixin heading-md {
    font-family: $font-primary;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
}

@mixin heading-sm {
    font-family: $font-primary;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
}